//原子类
.f_abs{
    position: absolute;
}
.f_center {
    text-align: center;
}
.f_txt{
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.f_bgcolr1{
    background-color: #6200d1;
}
.f_bgcolr2{
    background-color: #d508f4;
}
.f_bgcolr3{
    background-color: #fd7900;
}
.f_bgcolr4{
    background-color: #683df9;
}
.f_bgcolr5{
    background-color: #841dc8;
}
.f_mt15{
    margin-top: 15px;
}
.f_mb15{
    margin-bottom: 15px;
}
.f_pt15{
    padding-top: 15px;
}
.f_pb15{
    padding-bottom: 15px;
}