<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no"/>
	<title>xxxxx</title>
	<link rel="stylesheet" type="text/css" href="css/xxx.css" />
	<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="js/jrem.js" type="text/javascript"></script>
</head>

<body>
	<div class="g_container">
		<!--banner-->
		<header class="g_hd">
			<img src="images/banner.jpg" />
		</header>
		<!--nav-->
		<nav class="g_nav">
		</nav>
		<!-- 主体内容 -->
		<article class="g_bd">
			<!--f1-->
			<section class="m_block">
				<div class="hd f_center">
					<img src="images/tit_01.png" alt="">
				</div>
				<div class="bd">
					<div class="m_list">
						<ul class="fix">
							<li>
								<a href="#">
									<img src="images/f1_01.png" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</article>
		<!-- 底部 -->
		<footer class="g_ft"></footer>
	</div>
	<script type="text/javascript">
	(function($) {
		//图片延迟加载
		$(".j_lazy").lazyload({
			effect: "fadeIn"
		});
		//返回顶部
		$(".j_backTop").click(function() {
			$("html,body").stop().animate({
				scrollTop: 0
			});
		});
	})(jQuery);
</script>
</body>

</html>